
  

  <!-- Side navigation -->
<div class="sidenav">
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<!-- Page content -->
<div class="main">
    <div *ngIf="isConnect"> 
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" >Gestion Des Clients</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ">
          
            <a class="nav-item nav-link" routerLink="/add-role">Ajouter</a>
            <a class="nav-item nav-link" routerLink="/list-role">Lister</a>
            <a class="nav-item nav-link" routerLink="/add-user">AjouterUser</a>
            <a class="nav-item nav-link" routerLink="/list-user">ListerUser</a>
            <a class="nav-item nav-link" routerLink="/search-user">Search</a>
            <a class="nav-item nav-link" routerLink="/add-client">Ajouter client</a>
            <a class="nav-item nav-link" routerLink="/list-client">Lister client</a>
            <a class="nav-item nav-link" routerLink="/add-groupe">Ajouter groupe</a>
            <a class="nav-item nav-link" routerLink="/list-groupe">Lister groupe</a>
          </div>
        </div>
      
    
        <ul class=" nav navbar-nav pull-right ">
          <li *ngIf="connect" class="nav-item ">
            <a class=" nav-link " routerLink="/login">Deconnexion</a>
          </li>
          <li *ngIf="!connect" class="nav-item ">
            <a class=" nav-link " >Connexion</a>
          </li>
        </ul>
      </nav>
    </div>
  
  
  
  
    <div class="container " style="margin-top: 5% ; margin-left: 5%;" >
      <router-outlet></router-outlet>
    </div>
</div>


